Tawuniya.Web/Tawuniya.Web/.vs/
Tawuniya.Web/Tawuniya.Web/Libraries/Tawuniya.Core/bin/
Tawuniya.Web/Tawuniya.Web/Libraries/Tawuniya.Core/obj/
Tawuniya.Web/Tawuniya.Web/Libraries/Tawuniya.Data/bin/
Tawuniya.Web/Tawuniya.Web/Libraries/Tawuniya.Data/obj/
Tawuniya.Web/Tawuniya.Web/Libraries/Tawuniya.Services/obj/
Tawuniya.Web/Tawuniya.Web/Tawuniya.Web/bin/
Tawuniya.Web/Tawuniya.Web/Tawuniya.Web/obj/
Tawuniya.Web/Tawuniya.Web/Libraries/Tawuniya.Services/bin/
