@model EmployeeModel

@{
    ViewData["Title"] = "Edit";
}
<section class="content">
    <div class="container-fluid">
        <form asp-controller="Employee" asp-action="Edit" method="post">
            <div class="content-header clearfix">
                <h1 class="float-left">
                    Edit - @Model.FirstName
                    <small>
                        <i class="fas fa-arrow-circle-left"></i>
                        <a asp-action="List">Back to List</a>
                    </small>
                </h1>
                <div class="float-right">
                    <button type="submit" name="save" class="btn btn-primary">
                        <i class="far fa-save"></i>
                        Save
                    </button>
                </div>
            </div>
            @await Html.PartialAsync("_CreateOrUpdate", Model)
        </form>
    </div>
</section>