@model IList<EmployeeListModel>
@{
    ViewData["Title"] = "Employee List";
}

<div class="content-header clearfix">
    <h1 class="float-left">User List</h1>
    <div class="float-right">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                        <table id="employee" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Department</th>
                                    <th>Booking start Time</th>
                                    <th>Booking end time</th>
                                    <th width="100px">Edit</th>
                                    <th width="100px">Delete</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#employee").DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "autoWidth": false,
            "orderMulti": false,
            "searching": false,
            "destroy": true,
            "lengthMenu": [15, 20, 50, 100],
            "ajax": {
                "url": "@(Url.Action("EmployeeList", "Employee"))",
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                { "data": "firstName", "name": "firstName", "autoWidth": true },
                { "data": "lastName", "name": "lastName", "autoWidth": true },
                { "data": "email", "name": "email", "autoWidth": true },
                { "data": "number", "name": "number", "autoWidth": true },
                { "data": "department", "name": "department", "autoWidth": true },
                { "data": "bookingStartdate", "name": "bookingStartdate", "autoWidth": true },
                { "data": "bookingEnddate", "name": "bookingEnddate", "autoWidth": true },
                {
                    "render": function (data, type, full, meta) { return "<a class ='btn btn-info'  onclick=location.replace('/Employee/Edit/" + full.id + "');>Edit</a>"; }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.id + "'); >Delete</a>";
                    }
                }
            ]
        });
    });
</script>