@model IList<UserCreationResponse>
@{
    ViewData["Title"] = "User List";
}

<div class="content-header clearfix">
    <h1 class="float-left">User List</h1>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                        <table id="users" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>User Name</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#users").DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "autoWidth": false,
            "orderMulti": false,
            "searching": false,
            "destroy": true,
            "lengthMenu": [15, 20, 50, 100],
            "ajax": {
                "url": "@(Url.Action("UserList", "Users"))",
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                { "data": "firstName", "name": "firstName", "autoWidth": true },
                { "data": "lastName", "name": "lastName", "autoWidth": true },
                { "data": "userEmail", "name": "userEmail", "autoWidth": true },
                { "data": "userName", "name": "userName", "autoWidth": true },
            ]
        });
    });
</script>